@import "../../../design/theme/styles/variables";

.logo {
  display: flex;
  width: 100%;
  justify-content: center;

  a {
    display: flex;
    flex-wrap: wrap;
    justify-content:center;

    position: relative;
    z-index: 10;


    font-family: $font-family-logo;
    font-size: 40px;
    font-weight: 900;
  }

  @media screen and (min-width: 240px) {
    a {
      flex-direction: column;
      align-items: center;
      width: 500px;
    }
  }
  @media screen and (min-width: 576px) {
    a {
      flex-direction: row;
      align-items: flex-start;
    }
  }
  @media screen and (min-width: 768px) {
    a {
      width: auto;
    }
  }
  @media screen and (min-width: 992px) {

  }
}