{{> ../../../Header/Header}}


<h2>Body Single Post default</h2>


{{#if error}}
    {{error}}
{{else}}
    {{> ../../../Posts/single/Design1/PostDesign1.handlebars}}
{{/if}}



{{> ../../../Footer/Footer}}

