@import "../variables";

html, body {
  min-height: 100%;
}
body {
  font-family: $font-family-body ,sans-serif;
  font-size: $font-size-body;
  line-height: $line-height-body;
}

.containerCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-1-Center {
  display: block;
  margin-bottom: 15px;
  text-align: center;
  font-size: 18px;
}

.title-2-Center {
  display: block;
  margin-top: 40px;
  margin-bottom: 15px;
  text-align: center;
  font-size: 18px;
}

.title-3-Center {
  display: block;
  margin-top: 40px;
  //margin-bottom: 15px;
  text-align: center;
  font-size: 18px;
}

.text-center {
  text-align: center;
}

.hidden {
  visibility: hidden;
  height: 0;
}