@import "../variables";

html, body {
  min-height: 100%;
}
body {
  font-family: $font-family-body ,sans-serif;
  font-size: $font-size-body;
  line-height: $line-height-body;
}

.containerCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}