@import "../../../design/theme/styles/variables";

.nav {
  overflow: hidden;
  .list {
    margin-left: -10px;
    margin-right: -10px;
    display: flex;
    flex-wrap: wrap;
  }

  .navItem {
    width: 50%;
  }

  .navItem:nth-child(2n) {      // 0 2 4 6

  }

  .navItem:nth-child(2n + 1) {  // 1 3

  }

  //.spacerLogo {
  //  width: 640px;
  //}

  @media screen and (min-width: 240px) {
    .list {
      justify-content: space-between;
    }
    .navItem {
      width: 100%;
    }
    .navItem:nth-child(2n) {      // 0 2 4 6
      text-align: center;
    }
    .navItem:nth-child(2n + 1) {      // 0 2 4 6
      text-align: center;
    }

  }
  @media screen and (min-width: 576px) {
    .list {

    }
    .navItem {
      width: 50%;
    }
    .navItem:nth-child(2n) {      // 0 2 4 6
      text-align: right;
    }
    .navItem:nth-child(2n + 1) {      // 0 2 4 6
      text-align: left;
    }
  }
  @media screen and (min-width: 768px) {

  }
  @media screen and (min-width: 992px) {

  }
}