@import "../../../design/theme/styles/variables";

.header {
  position: relative;

  .logo {

  }

  .nav {
    display: block;
    width: 100%;

    position: absolute;
    //bottom: 0;
  }

  @media screen and (min-width: 240px) {
    .nav {
      bottom: 0;
    }
    .logo {
      padding-bottom: 180px;
    }
  }
  @media screen and (min-width: 700px) {
    .nav {
      top: 0;
    }
    .logo {
      padding-bottom: 50px;
    }
  }
  @media screen and (min-width: 768px) {

  }
  @media screen and (min-width: 992px) {

  }
}