$fonts-path:        '/assets/fonts';


$font-family-1:     '';
//$font-family-logo:     'Platina';
$font-family-logo:     'EVAA';


$font-family-body:     'Lato-Regular';
$font-size-body:    14px;
$line-height-body:  1.5;

$font-family-2:     'Lato-Bold';
$font-family-3:     'EVAA';
//._font-family-#{$number}


$font-families: (

        1: $font-family-1,

);
//._font-family-#{$number}


$font-sizes-heights: (

        11: (15),
        15: (20)

);
//._font-#{$size}-#{$line-height}







$color-theme:       #555555;


$color-body:        #ffffff;
