{{> ../../../../Header/Header}}


<div class="bodySingleWork">
    {{#if error}}
        {{error}}
    {{else}}
        {{> ../../../../Works/single/default/markup.handlebars}}
    {{/if}}
</div>


{{> ../../../../Footer/Footer}}

