{{> ../Header/Header}}

<div class="bodyBlog">

    <b class="title-2-Center">{{dataPage.title}}</b>

    <div class="linksContainer">
        {{#each dataPage.sources}}

                <a class="link" href={{link}} target="_blank">
                    {{label}}
                </a>

        {{/each}}
    </div>
</div>

{{> ../Footer/Footer}}

