{{> ../Header/Header}}



<!-- Button trigger modal -->
<!--<button type="button" class="btn btn-primary" data-toggle="modal" id="btnModal">
    Launch demo modal
</button>-->

<!-- Modal -->
<!-- Modal -->



<div class="works">
    <a href={{NavCategoriesLink}}>by categories</a>
    {{#each works}}
        {{> ../Works/list/default/markup}}
    {{/each}}
</div>

{{> ../Footer/Footer}}


