{{> ../Header/Header}}

<div class="bodyHome">
    <p class="textMain">{{dataPage.text}}</p>


    <div class="works" >
        <div class="navWorks containerCenter">
            <span class="title">{{dataPage.titleSub}}</span> / &nbsp;
            <a href={{NavCategoriesLink}}>by categories</a>
        </div>
        <div class="partWorks" id="worksHomeContainer">
        {{#each works}}
            {{> ../Works/list/default/markup}}
        {{/each}}
        </div>
    </div>

    <div class="containerCenter">
        <button class="button button-1" id="buttonWorksHomeLoadMore">Load more works</button>
    </div>
</div>

{{> ../Footer/Footer}}


